/* * {
  border: 1px solid black;
} */

header {
  display: flex;
  justify-content: center;
}

.error-message {
  color: red;
}

.friend {
  border: 1px solid black;
  width: 30%;
  text-align: center;
}

.friendster {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.friend-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

label {
  margin: 1%;
}